        /* подключение шрифта */
        @font-face {
            font-family: Pompadur;
            src: url(../fonts/ofont.ru_Liana.ttf);
            /* Путь к файлу со шрифтом */
        }

        * {
            margin: 0;
        }

        body {
            display: grid;
        }

        .header {
            position: relative;
            /*картинка поверх надписи*/
        }

        .header img {
            width: 100%;
        }

        .separator {
            width: 100%;
            height: 50px;
            margin-top: -4px;
            background-image: url(https://klike.net/uploads/posts/2020-08/1596869758_37.jpg);
            /* Путь к фоновому рисунку */
            background-position: left bottom;
            /* Положение фона */
            background-repeat: repeat-x;
            /* Повторяем фон по горизонтали */
        }

        .calendar {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
            background-color: rgb(246, 224, 202);
        }

        .month {
            border: 1px solid #111;
            border-radius: 3px;
        }

        .week {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            justify-items: center;

        }

        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            justify-items: center;
        }

        .week-holyday,
        .days-holyday {
            color: crimson;
        }

        .month h1 {
            text-align: center;
        }

        .month:hover {
            background-color: rgba(67, 179, 114, 0.096);
        }

        /* стиль надписи */
        .font-fendiperst1 {
            font-family: cursive;
            font-size: 5vw;
        }

        .font-fendiperst2 {
            font-size: 8vw;
            color: crimson;
        }

        .font-fendiperst3 {
            font-size: 8vw;
        }

        .font-fendiperst2,
        .font-fendiperst3 {
        font-family: Pompadur, 'Comic Sans MS', cursive;
        }

        .year {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 5vw;
        }

        .title {
            position: absolute;
            /*надпись поверх картинки*/
            top: -5px;
            left: 20px;
        }